[Unit]
Description=kvn-tui VPN daemon
Documentation=https://github.com/yarikov/kvn-tui

[Service]
Type=simple
ExecStart=/usr/bin/kvn-tui --daemon
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target
